html {
  background-color: #F2F2F2;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-intro {
  font-size: large;
}

.App-body {
  margin-top: 75px;
}

.ResultComponent {
  margin-top: 20px;
}

.Search-box-field {
  margin-top: auto;
  margin-bottom: auto;
}

.Search-box-background {
  height: 50px;
  width: 75%;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
  margin-left: auto;
  margin-right: auto;
  border-radius: 2px;
  padding: 16px;
  background-color: #fff;
}

.ResultComponent {
  height: 300px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 2px;
  background-color: #fff;
}

.ResultComponent-image {
  float: left;
  width: 200px;
}
.MovieDescription {
  float: left;
  margin-left: 8px;
  width: 70%;
  text-align: left;
}
.QuickFacts{
  
}

.Title {
  font-size: 18pt;
  float: left;
  margin-left: 8px;


}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
