html {
  background-color: #F2F2F2;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-intro {
  font-size: large;
}

.App-body {
  margin-top: 100px;
}

.ResultComponent {
  margin-top: 20px;
}

.Search-box-field {
  margin-top: auto;
  margin-bottom: auto;
}

.Search-box-background {
  height: 50px;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 2px;
  padding: 16px;
  background-color: #fff;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
